/* 

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  background-color: #fdf2e9;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

h1 {
  font-weight: 700;
  color: #333;
  font-size: 4.4rem;
  line-height: 1.05;
  margin-bottom: 2.4rem;
}

#app,
#app2 {
  margin: 10rem auto;
  text-align: center;
}

/* 隐藏vue尚未编译的dom */
[v-cloak] {
  display: none;
}

a:link,
a:visited {
  display: inline-block;
  font-size: 2.4rem;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  margin-bottom: 2rem;
  transition: all 0.3s;
}

a:hover,
a:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.age-input {
  font-size: 2rem;
  margin-bottom: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.age-input p {
  font-weight: 500;
}

button,
button:link,
button:visited {
  color: inherit;
  font-size: 2rem;
  border: none;
  background: none;
  border-radius: 9px;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  border: 2px solid #fff;
}

button:hover,
button:active {
  background-color: #fff;
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.6rem 2.4rem;
  margin-top: 1.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

input {
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 1.2rem;
  border-radius: 9px;
  border: none;
}

.first-name,
.last-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
