<!DOCTYPE >
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <div id="app">
      <ul class="list">
        <!-- 这里的:class只是为了加一个鸟的名字的class给每个li元素 -->
        <li v-for="(bird, index) in birds" :class="bird">
          {{ bird }} - {{ index }}
        </li>
      </ul>

      <hr />

      <ul class="list">
        <!-- <li v-for="person in people">{{ person.name }} - {{ person.age }}</li> -->

        <!-- value是对象的值，key是对象的键 ⬇️ -->
        <li v-for="person in people">
          <div v-for="(value, key, index) in person">
            {{ index }}: {{ key }} - {{ value }}
          </div>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
